# Web Server & API
fastapi
uvicorn[standard]
python-multipart

# Core Logic & Image Processing
numpy
Pillow
opencv-python-headless
albumentations

# AI Models (Full Versions)
ultralytics
transformers
onnxruntime
torch
torchvision
# Note: CLIP must be installed from the GitHub source
git+https://github.com/openai/CLIP.git

# Monitoring & Tracking
prometheus_client
mlflow
